<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @RenderSection("head", false)
</head>
<body>
    <div class ="container header">
        <div>
            logo
        </div>
        <div>
            company name
        </div>
        <div>
            <div>image</div>
            <div>username</div>
        </div>
        <div>
            @Html.ActionLink("Home", "Index", "Master") |
            @Html.ActionLink("Debit", "Index", "Master") |
            @Html.ActionLink("Tax Invoice", "Index", "Master") |
            @Html.ActionLink("Truck", "Index", "Master") |
            @Html.ActionLink("Monthly Payment", "Index", "Master") |
            @Html.ActionLink("User", "Index", "Master") |
            @Html.ActionLink("User Management", "UserMG", "Master")
        </div>
        @RenderBody()
    </div>
</body>
</html>
