<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script> 

    <link href="~/stylesheet/stylesheet.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @RenderSection("head", false)
</head>
<body>
    <div class="whole-page">
        <div class="container-fluid header">
            <div class="row">
                <div class="col-sm-2 logo">
                    <img src="~/images/user.png" class="user_image" />
                </div>
                <div class="col-sm-8">
                    <h4>DOORS IMPORT EXPORT & TRANSPORTATION CO.,LTD</h4><hr />
                    <div>#5A, ST.416 SANGKAT TUMNUP TEUK, KHAN CHAMKARMORN PHNOM PENH, CAMBODIA</div>
                    <div>TEL: 017 808 866, 096 613 3333</div>
                </div>
                <div class="col-sm-2">
                    <div class="profile_image">
                        <img src="~/images/user.png" class="user_image" />
                        <div>Rithy SOK</div>
                    </div>

                </div>
            </div>
        </div>
        <div class="body">
            <div class="menu">
                @Html.ActionLink("Home", "Index", "Users") |
                @Html.ActionLink("Debit", "Index", "Master") |
                @Html.ActionLink("Tax Invoice", "Index", "Master") |
                @Html.ActionLink("Truck", "Index", "Master") |
                @Html.ActionLink("Monthly Payment", "Index", "MonthlyPayment") |
                @Html.ActionLink("User", "Index", "Users")
            </div>

            @RenderBody()
        </div>
        <div class="footer">
            CopyRight DOORS IMPORT EXPORT & TRANSPORTATION CO.,LTD
        </div>
    </div>
</body>
</html>
