@model Doors.Models.Users
@{
    ViewBag.Title = "User Management";
    Layout = "~/Views/MasterPage.cshtml";
}

    @if (Model != null)
{

    <div>
        <div class="page_title">User Management</div>
        <button class="btn_custom">Add New User</button>

        <table class="table table-bordered table-striped user_table">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Full Name</th>
                    <th>User Name</th>
                    <th>Sex</th>
                    <th>Role</th>
                    <th>Last Change By</th>
                    <th>Manage</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>@Model.fullname</td>
                    <td>@Model.username</td>
                    <td>@Model.sex</td>
                    <td>@Model.role</td>
                    <td>@Model.last_change_by</td>
                    <td class="manage">
                        <img src="~/images/view-details.png" />
                        <img src="~/images/edit.png" />
                        <img src="~/images/delete.png" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
}

